target/
edr_target/
logs
dbt_modules
dbt_packages
.venv
.user.yml
.python-version
.env*
.vscode/settings.json
__pycache__/

# Environments
.env
.venv
.edr
env/
venv/
ENV/
env.bak/
venv.bak/
postactivate.sh
package-lock.yml
snowflake_query.sql
dbt_internal_packages/
**/.venv/